
# DotEnv configuration
.env

# VS Code
.vscode/
*.code-workspace

# Exclude virtual environment
.venv/

# Exclude trained models
/models/


# Django stuff:
*.log

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
